
body {
	background-color: green;
	margin: 0;
}

/*Main container. Also where we don't allow 
pieces to be dragged out of.*/
#container {
	margin: 0 auto;
	width: 1080px;
	background-color: pink;
}

/*Storing the divs prior to use.*/
#toy-chest {
	background-color: silver;
}

/*Put our divs/elemtns in a nice order*/
#toy-chest > div{
	display: inline-block;
}

/*Pre-drop zone*/
#parentszone {
	border: 1px solid blue;
	background-color: grey;
	padding-top: 10px;
	padding-bottom: 10px;
	margin: 0 auto;
	width: 1000px;
	height: 1000px;
}

/*Drop zone*/
#playground {
	margin: 0 auto;
	width: 700px;
	height: 700px;
	background-color: white;
}

/*basic css styled lines*/
#line-1, #line-2, #line-3 {
	background-color: black;
	width: 1%;
	height: 30%;
	min-height: 6em;
	margin: 10%;
	-webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
}

/* Basic css styled boxes*/
#box-1, #box-2 {
	border: 1px solid black;
	width: 30%;
	height: 30%;
		-webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
}

/* Basic css styled boxes*/
#circle-1 {
	border-radius: 50%;
	border: 1px solid black;
	height: 20%;
	width: 20%;
	min-height: 2em;
}

/*Div styling for the home and index*/
#playground > div {
		display: inline-block;
}


.dropzone {
	background-color: #ccc;
  border: dashed 4px transparent;
  border-radius: 4px;
  margin: 10px auto 30px;
  padding: 10px;
  width: 80%;
  transition: background-color 0.3s;
}

.drop-active {
  border-color: #aaa;
}

.drop-target {
  background-color: #29e;
  border-color: #fff;
  border-style: solid;
}

.dropped {
	background-color: purple;
}